In [1]:
import pandas as pd
import numpy as np

In [2]:
covid = pd.read_csv("covid_toy.csv")

In [3]:
covid.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
covid.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [18]:
covid["cough"].unique()

array(['Mild', 'Strong'], dtype=object)

In [5]:
X= covid.iloc[:,:5]
Y = covid.iloc[:,-1]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.15,random_state=42)

In [23]:
X_train

    age  gender  fever   cough       city
4    65  Female  101.0    Mild     Mumbai
76   80    Male  100.0    Mild  Bangalore
77    8  Female  101.0    Mild    Kolkata
12   25  Female   99.0  Strong    Kolkata
31   83    Male  103.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[85 rows x 5 columns]

In [27]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
ct = ColumnTransformer(transformers=[("tn1",SimpleImputer(),["fever"]),
                                     ("tn2",OneHotEncoder(sparse_output=False,drop= "first"),["gender","city"]),
                                     ("tn3",OrdinalEncoder(categories= [['Mild', 'Strong']]),["cough"])],remainder="passthrough")

In [29]:
ct.fit_transform(X_train).shape

(85, 7)

In [31]:
ct.transform(X_test).shape

(15, 7)